$primary: green;
$secondary: yellow;

//We have to import the functions first to use map.merge()
@import '../node_modules/bootstrap/scss/functions';

// We have to import the variables beforehand to use the variable $grid-breakpoints.
// Otherwise, compiler will show error - '$grid-breakpoints not defined.'
@import '../node_modules/bootstrap/scss/variables';


$new-breakpoints: (
    xl: 1280px,
    xxl:1600px
);

$grid-breakpoints: map-merge($grid-breakpoints, $new-breakpoints);

$new-container-max-widths: (
  xl: 1220px,
  xxl:1520px
);

$container-max-widths: map-merge($container-max-widths, $new-container-max-widths);

@import "../node_modules/bootstrap/scss/bootstrap";


